<?xml version="1.0" encoding="UTF-8"?>
<!--
Stackdriver json-log format provided for import.
-->
<included>
    <define name="oracle_cloud_logging" class="io.micronaut.oraclecloud.logging.OracleCloudPropertyDefiner"></define>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>${STDOUT_WITH_JANSI:-false}</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n </pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.micronaut.oraclecloud.logging.OracleCloudJsonLayout">
                <projectId>${projectId}</projectId>
                <!--<includeTraceId>true</includeTraceId>-->
                <!--<includeSpanId>true</includeSpanId>-->
                <!--<includeLevel>true</includeLevel>-->
                <!--<includeThreadName>true</includeThreadName>-->
                <!--<includeLoggerName>true</includeLoggerName>-->
                <!--<includeFormattedMessage>true</includeFormattedMessage>-->
                <!--<includeExceptionInMessage>true</includeExceptionInMessage>-->
                <!--<includeMessage>false</includeMessage>-->
                <!--<includeException>false</includeException>-->
            </layout>
        </encoder>
    </appender>
</included>